<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.address %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Location', new_location_path %>
<center>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> 
  <div id="map_canvas" style="width:960px;height:600px;">Google Map</div> 
</center>

<script>

    function initialize() {
        var map_options = {
            center: new google.maps.LatLng(-23.553308,-46.632156),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var google_map = new google.maps.Map(document.getElementById("map_canvas"), map_options);

        var info_window = new google.maps.InfoWindow({
            content: 'loading'
        });

        var t = [];
        var x = [];
        var y = [];
        var h = [];

        <% @locations.each do |location| %>
          t.push('Location Name 1');
          x.push(<%= location.latitude %>);
          y.push(<%= location.longitude %>);
          h.push('<p><strong>Location Name 1</strong><br/>Address 1</p>');
        <% end %>

        var i = 0;
        for ( item in t ) {
            var m = new google.maps.Marker({
                map:       google_map,
                animation: google.maps.Animation.DROP,
                title:     t[i],
                position:  new google.maps.LatLng(x[i],y[i]),
                html:      h[i]
            });

            google.maps.event.addListener(m, 'click', function() {
                info_window.setContent(this.html);
                info_window.open(google_map, this);
            });
            i++;
        }
    }

initialize();




</script>